*{
    margin: 0;
    padding: 0;
}

body{
    background: #E9ECF4;
    color: #000;
    font-family: sans-serif;
}

.contenedor{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
        "contenido contenido sidebar"
        "widget-1 widget-1 widget-1"
        "footer footer footer";

}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background: #12203E;
    color: #fff;
    grid-area: header;
    text-align: center;
}

.contenedor .contenido{
    grid-area: contenido;
    font-weight: 100;
}

.art_p{
    padding: 1rem;
}

.art_fi--img{
    width: 100%;
}

.contenedor .sidebar{
    background: #FAA43D;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100px;
    grid-area: sidebar;
}

.con_ol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.con_li{
    list-style: none;
    padding: 1rem;
}

.con_li--a{
    text-decoration: none;
}

.contenedor .widget-1{
    background: #55A8FD;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-items: center;
    grid-area: widget-1;
}

.ven_ol--li{
    list-style: none;
}


.contenedor .footer{
    background: #12203E;
    color: #fff;
    display: flex;
    justify-content: center;
    grid-area: footer;
}



@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-areas: "header header header"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "widget-1 widget-1 widget-1"
        "footer footer footer";
    }
}
